# Virtual environment
venv/

# IDE settings
.idea/

# Database
backend/db.sqlite3

# Compiled Python files
backend/random_service/__pycache__/
backend/user/__pycache__/
backend/randomium/__pycache__/
backend/user/migrations/__pycache__/
backend/randomium/__pycache__/

# Environment variables
backend/.env
